{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title>Таалай и Аделина - Shoes Store HTML Template</title>
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <!--=== All Plugins CSS ===-->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <!--=== All Vendor CSS ===-->
    <link href="{% static 'css/vendor.css' %}" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Modernizer JS -->
    <script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>

    <!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <!-- Start Header Area -->
    <header class="header-area">
        <!-- main header start -->
        <div class="main-header d-none d-lg-block">
            <!-- header top start -->
            <div class="header-top theme-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="welcome-message">
                                <p> не добро пожаловать</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header top end -->

            <!-- header middle area start -->
            <div class="header-main-area sticky">
                <div class="container">
                    <div class="row align-items-center position-relative">
                        <!-- start logo area -->
                        <div class="col-lg-2">
                            <div class="logo">
                                <a href="{% url 'shop:index' %}">
                                    <img src="{% static 'img/logo/logo1.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- start logo area -->

                        <!-- main menu area start -->
                        <div class="col-lg-8 position-static">
                            <div class="main-menu-area">
                                <div class="main-menu">
                                    <!-- main menu navbar start -->
                                    <nav class="desktop-menu">
                                        <ul>
                                            <li class="active"><a href="{% url 'shop:index' %}">Главная страница <i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="{% url 'shop:shop' %}"> Магазин <i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'shop:product_detail' %}">детали продуктов <i class="fa fa-angle-right"></i></a>
                                                        <ul class="dropdown">
                                                            <li><a href="{% url 'shop:product_detail' %}">детали продуктов </a></li>
                                                            <li><a href="{% url 'shop:affiliate' %}">сведения о продукте </a></li>
                                                            <li><a href="{% url 'shop:variable' %}">переменная сведений о продукте</a></li>
                                                            <li><a href="{% url 'shop:group' %}">группа сведений о продукте</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'shop:contact' %}">Контакты</a></li>
                                        </ul>
                                    </nav>
                                    <!-- main menu navbar end -->
                                </div>
                            </div>
                        </div>
                        <!-- main menu area end -->

                        <!-- mini cart area start -->
                        <div class="col-lg-2">
                            <div class="header-configure-wrapper">
                                <div class="header-configure-area">
                                    <ul class="nav justify-content-end">
                                        <li>
                                            <form action="{% url 'shop:search_results' %}" method="get">
                                                <input name='q' type="text" value="" placeholder="Поиск" style="width: 70px;" >
                                            </form>
                                        </li>
                                        <li>
                                            <a href="{% url 'cart:cart_detail' %}" class="minicart-btn">
                                                <i class="ion-bag"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- mini cart area end -->
                    </div>
                </div>
            </div>
            <!-- header middle area end -->
        </div>
        <!-- main header start -->

        <!-- mobile header start -->
        <div class="mobile-header d-lg-none d-md-block sticky">
            <!--mobile header top start -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="mobile-main-header">
                            <div class="mobile-logo">
                                <a href="{% url 'shop:index' %}">
                                    <img src="{% static 'img/logo/logo1.png' %}" alt="Brand Logo">
                                </a>
                            </div>
                            <div class="mobile-menu-toggler">
                                <div class="mini-cart-wrap">
                                    <a href="cart.html">
                                        <i class="ion-bag"></i>
                                    </a>
                                </div>
                                <div class="mobile-menu-btn">
                                    <div class="off-canvas-btn">
                                        <i class="ion-navicon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile header top start -->
        </div>
        <!-- mobile header end -->
    </header>
    <!-- end Header Area -->

    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="ion-android-close"></i>
            </div>

            <div class="off-canvas-inner">
                
                <!-- mobile menu start -->
                <div class="mobile-navigation">
                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><a href="{% url 'shop:index' %}">Главная страница</a></li>
                            <li class="menu-item-has-children "><a href="{% url 'shop:shop' %}">Магазин</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><a href="{% url 'shop:product_detail' %}">Детали о продукте</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'shop:product_detail' %}">детали продуктов </a></li>
                                            <li><a href="{% url 'shop:affiliate' %}">сведения о продукте </a></li>
                                            <li><a href="{% url 'shop:variable' %}">переменная сведений о продукте</a></li>
                                            <li><a href="{% url 'shop:group' %}">группа сведений о продукте</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{% url 'shop:contact' %}">Контакты</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->

                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    
                    <div class="off-canvas-social-widget">
                        <a href="cart.html#"><i class="fa fa-facebook"></i></a>
                        <a href="cart.html#"><i class="fa fa-twitter"></i></a>
                        <a href="cart.html#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="cart.html#"><i class="fa fa-linkedin"></i></a>
                        <a href="cart.html#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->

    <!-- main wrapper start -->
    <main>
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap text-center">
                            <nav aria-label="breadcrumb">
                                <h1 class="breadcrumb-title">Корзина</h1>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'shop:index' %}">Главная страница</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- cart main wrapper start -->
        <div class="cart-main-wrapper section-padding">
            <div class="container">
                <div class="section-bg-color">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Cart Table Area -->
                            <div class="cart-table table-responsive">
                                <table class="table table-bordered">
                                    
                                    <tbody>
                                        {% for item in cart %}
                                            {% with product=item.product %}
                                            <tr>
                                                <td class="pro-thumbnail"><a href="cart.html#"><img class="img-fluid" src="{{ product.image.url }}" alt="Product" /></a></td>
                                                <td class="pro-title"><a href="cart.html#">{{ product.name }}</a></td>
                                                <td class="pro-price"><span>{{ product.price }}</span></td>
                                                <td class="pro-quantity">
                                                    
                                                    <form action="{% url 'cart:cart_add' product.id %}" method="POST"> 
                                                        {{ item.update_quantity_form.quantity }}<br><br>
                                                        {{ item.update_quantity_form.update }} 
                                                        <input type="submit" value="Update"> 
                                                        {% csrf_token %}
                                                    </form>
                                                    
                                                <td class="pro-subtotal"><span>{{ item.total_price }}</span></td>
                                                <!-- Кнопка удаления -->
                                                <td class="pro-remove">
                                                    <a href="{% url 'cart:cart_remove' product.id %}"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                                <!-- Кнопка удаления -->
                                            </tr>
                                            {% endwith %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'shop:shop' %}" class="btn d-block"  style="margin: 20px;width: 300px;">обратно в магаз</a>
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <!-- Cart Calculation Area -->
                            <div class="cart-calculator-wrapper">
                                <div class="cart-calculate-items">
                                    <h3>Итого</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                        
                                                <tr class="total">
                                                    <td>Всего </td>
                                                    <td class="total-amount">{{ cart.get_total_price }}</td>
                                                </tr>
                                            
                                        </table>
                                    </div>
                                </div>
                                <a href="{% url 'cart:order' %}" class="btn d-block">ехало в чекаут</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart main wrapper end -->
    </main>
    <!-- main wrapper end -->

    <!-- Start Footer Area Wrapper -->
    <footer class="footer-wrapper">
        <!-- footer main area start -->
        <div class="footer-widget-area section-padding">
            <div class="container">
                <div class="row mtn-40">
                    <!-- footer widget item start -->
                    <div class="col-xl-5 col-lg-3 col-md-6">
                        <div class="widget-item mt-40">
                            <h5 class="widget-title">Мои контакты</h5>
                            <div class="widget-body">
                                <ul class="location-wrap">
                                    <li><i class="ion-ios-location-outline"></i>Абдрахманова 105/3, Бишкек</li>
                                    <li><i class="ion-ios-email-outline"></i>Mail Us: <a href="mailto:bolotbekovtaalay@gmail.com">bolotbekovtaalay@gmail.com</a></li>
                                    <li><i class="ion-ios-telephone-outline"></i>Phone: <a href="https://demo.hasthemes.com/juan-preview-v1/juan/+996708955999">+996 708 955 999</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- footer widget item end -->
                    <!-- footer widget item start -->
                    <div class="col-xl-2 col-lg-3 col-md-6">
                        <div class="widget-item mt-40">
                            <h5 class="widget-title">Информации</h5>
                            <div class="widget-body">
                                <ul class="useful-link">
                                    <li><a href="{% url 'shop:index' %}">Главная страница</a></li>
                                    <li><a href="{% url 'shop:contact' %}">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- footer widget item end -->
                </div>
            </div>
        </div>
        <!-- footer main area end -->

        <!-- footer bottom area start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-2 order-md-1">
                        <div class="copyright-text text-center text-md-left">
                            <p>Сами верстали отвечаю <a href="index.html">Таалай,Аделина</a>. Все права защищены</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-1 order-md-2">
                        <div class="footer-social-link text-center text-md-right">
                            <a href="index.html#"><i class="fa fa-facebook"></i></a>
                            <a href="index.html#"><i class="fa fa-twitter"></i></a>
                            <a href="index.html#"><i class="fa fa-linkedin"></i></a>
                            <a href="index.html#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom area end -->
    </footer>
    <!-- End Footer Area Wrapper -->

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

    <!--=======================Javascript============================-->
    <!--=== All Vendor Js ===-->
    <script src="{% static 'js/vendor.js' %}" ></script>
    <!--=== All Plugins Js ===-->
    <script src="{% static 'js/plugins.js' %}" ></script>
    <!--=== Active Js ===-->
    <script src="{% static 'js/active.js' %}" ></script>
</body>
    
</html>